body {
  overflow: hidden;
  margin: 0;
}

.infoDebug {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  background-color:rgba(0,0,255,0.8);
  width:200px;
  height:250px;
}
.infoDebug p {
  max-width: 200px;
  margin: auto;  
  word-wrap: break-word;
  color: greenyellow;
}

.badge-base {
  display: none;
  position: absolute;
  top: 20%;
  left:30%;
}
.badge-base__link {
  visibility: hidden;
}